:root {
  --bg-primary-deeper: #377454;
  --bg-primary: #619b7d;
  --bg-color-light: #619b7d2b;
  --bg-color-lighter: #619b7d00;
  --bg-secondary: #619b7d2c;
  --black: #000;
  --white: #fff;
  --bg-white: #f9fff6;
  --text-color-black: #000;
  --text-color-white: #fff;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.App {
  text-align: center;
  background-color: var(--bg-color-light);
  /* font-family: ; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sections-container {
  padding: 1rem 8rem;
}

.sections-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates two columns */
  grid-gap: 0.8rem;
  /* margin: 0.5rem 0; */
}

.nav-item {
  padding: 1rem;
  cursor: pointer;
  color: black;
}

.nav-item.active {
  color: black;
}

.nav-item:hover {
  color: lightgray;
}

.hero-1 {
  background-image: url("./Assets//Frame\ 1000004577.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top-right-radius: 1rem;
}

.streamline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.walk-in {
  transform: translateX(2rem);
}

.glass-effect {
  background: rgba(255, 255, 255, 0.2); /* White background with transparency */
  backdrop-filter: blur(5px); /* Blur the background behind the element */
  -webkit-backdrop-filter: blur(5px); /* For Safari compatibility */
  border-radius: 8px; /* Rounded corners */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle white border */
}

.floating-cards {
  position: relative;
}

.p-fluid .p-calendar button {
  background-color: var(--bg-primary);
  color: var(--text-color-white);
  border: none;
  /* border-radius: 0.5rem; */
  /* padding: 0.5rem 1rem; */
  cursor: pointer;
}
